{% extends 'base.html' %}
{% block title %}Add Event{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center my-3">Add A Event</h1>
                {% if error == True %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}
                <form action="{% url 'todolist:add_event' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="event_name">Event Name: </label>
                        <input type="text" class="form-control" name="event_name"  maxlength="50" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="description">Description: </label>
                        <textarea class="form-control" name="description"  required></textarea>
                    </div>
                
                    <div class="text-center">
                        <input type="submit" value="Add Event" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}